{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Bought or Sold</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col">Date and Time</th>
        </tr>
      </thead>
      <tbody>
        {% for trade in trades %}
            <tr>
                <td>{{ trade["symbol"] }}</td>
                <td>{{ trade["shares"] }}</td>
                <td>{{ trade["type"] }}</td>
                <td>${{ trade["price"] }}</td>
                <td>${{ trade["value"] }}</td>
                <td>{{ trade["datetime"] }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
